{% load static %}
{% load sass_tags %}
<div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="timeline">
  <div class="row">
    <div class="col-xl-3 xl-40 col-md-5 box-col-5">
      <div class="default-according style-1 job-accordion" id="accordionoc4">
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-header">
                <h5 class="p-0">
                  <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseicon"
                    aria-expanded="true" aria-controls="collapseicon">My Profile</button>
                </h5>
              </div>
              <div class="collapse show" id="collapseicon" aria-labelledby="collapseicon" data-parent="#accordion">
                <div class="card-body socialprofile filter-cards-view">
                  <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle"
                      src="{% static 'assets/images/user/1.jpg' %}" alt="">
                    <div class="media-body">
                      <h5 class="font-primary f-w-600">My Page</h5><span class="d-block"><span><i
                            class="fa fa-comments-o"> </i><span class="px-2">Messages<span
                              class="badge badge-pill badge-light ms-1">9</span></span></span></span><span
                        class="d-block"><span><i class="fa fa-bell-o"> </i><span class="px-2">Notification<span
                              class="badge badge-pill badge-light ms-1">9</span></span></span></span>
                    </div>
                  </div>
                  <div class="social-btngroup d-flex">
                    <button class="btn btn-primary text-center me-2" type="button">Likes</button>
                    <button class="btn btn-light text-center" type="button">View</button>
                  </div>
                  <div class="likes-profile text-center">
                    <h4 class="f-w-600 mb-1"> <i class="fa fa-heart font-danger"></i> 884</h4>
                  </div>
                  <h6 class="text-center">35 New Likes This Week</h6>
                  <div class="customers text-center social-group">
                    <ul>
                      <li class="d-inline-block"><img class="img-30 rounded-circle"
                          src="{% static 'assets/images/user/3.jpg' %}" alt="" data-container="body"
                          data-bs-toggle="popover" data-placement="top" title="" data-original-title="Johny Waston">
                      </li>
                      <li class="d-inline-block"><img class="img-30 rounded-circle"
                          src="{% static 'assets/images/user/5.jpg' %}" alt="" data-container="body"
                          data-bs-toggle="popover" data-placement="top" title="" data-original-title="Andew Jon"></li>
                      <li class="d-inline-block"><img class="img-30 rounded-circle"
                          src="{% static 'assets/images/user/1.jpg' %}" alt="" data-container="body"
                          data-bs-toggle="popover" data-placement="top" title="" data-original-title="Comeren Diaz">
                      </li>
                      <li class="d-inline-block"><img class="img-30 rounded-circle"
                          src="{% static 'assets/images/user/2.png' %}" alt="" data-container="body"
                          data-bs-toggle="popover" data-placement="top" title="" data-original-title="Bucky Barnes">
                      </li>
                      <li class="d-inline-block"><img class="img-30 rounded-circle"
                          src="{% static 'assets/images/user/8.jpg' %}" alt="" data-container="body"
                          data-bs-toggle="popover" data-placement="top" title="" data-original-title="Jason Borne"></li>
                      <li class="d-inline-block"><img class="img-30 rounded-circle"
                          src="{% static 'assets/images/user/11.png' %}" alt="" data-container="body"
                          data-bs-toggle="popover" data-placement="top" title="" data-original-title="Comeren Diaz">
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12">
            <div class="card"><img class="img-fluid" alt=""
                src="{% static 'assets/images/social-app/timeline-3.png' %}"></div>
          </div>
          <div class="col-md-12 col-sm-6">
            <div class="card">
              <div class="card-header">
                <h5 class="p-0">
                  <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseicon1"
                    aria-expanded="true" aria-controls="collapseicon1">Mutual Friends</button>
                </h5>
              </div>
              <div class="collapse show" id="collapseicon1" data-parent="#accordion" aria-labelledby="collapseicon1">
                <div class="card-body social-status filter-cards-view">
                  <form>
                    <div class="form-group m-0">
                      <input class="form-control-social" type="search" placeholder="Search Contacts..">
                    </div>
                  </form>
                  <div class="media"><img class="img-50 rounded-circle m-r-15"
                      src="{% static 'assets/images/user/2.png' %}" alt="">
                    <div class="social-status social-online"></div>
                    <div class="media-body"><a href="/users_users_profile"><span class="f-w-600 d-block">Bucky
                          Barnes</span></a><span class="d-block">winter@gmail.com</span></div>
                  </div>
                  <div class="media"><img class="img-50 rounded-circle m-r-15"
                      src="{% static 'assets/images/user/10.jpg' %}" alt="">
                    <div class="social-status social-busy"></div>
                    <div class="media-body"><a href="/users_users_profile"><span class="f-w-600 d-block">Sarah
                          Loren</span></a><span class="d-block">barnes@gmail.com</span></div>
                  </div>
                  <div class="media"><img class="img-50 rounded-circle m-r-15"
                      src="{% static 'assets/images/user/6.jpg' %}" alt="">
                    <div class="social-status social-offline"></div>
                    <div class="media-body"><a href="/users_users_profile"><span class="f-w-600 d-block">Jason
                          Borne</span></a><span class="d-block">jasonb@gmail.com</span></div>
                  </div>
                  <div class="media"><img class="img-50 rounded-circle m-r-15"
                      src="{% static 'assets/images/user/8.jpg' %}" alt="">
                    <div class="social-status social-offline"></div>
                    <div class="media-body"><a href="/users_users_profile"><span class="f-w-600 d-block">Comeren
                          Diaz</span></a><span class="d-block">comere@gmail.com</span></div>
                  </div>
                  <div class="media"><img class="img-50 rounded-circle m-r-15"
                      src="{% static 'assets/images/user/14.png' %}" alt="">
                    <div class="social-status social-online"></div>
                    <div class="media-body"><a href="/users_users_profile"><span class="f-w-600 d-block">Andew
                          Jon</span></a><span class="d-block">andrewj@gmail.com</span></div>
                  </div>
                  <div class="media"><img class="img-50 rounded-circle m-r-15"
                      src="{% static 'assets/images/user/4.jpg' %}" alt="">
                    <div class="social-status social-busy"></div>
                    <div class="media-body"><span class="f-w-600 d-block">Johny Waston</span><span
                        class="d-block">johny@gmail.com</span></div>
                  </div>
                  <div class="media"><img class="img-50 rounded-circle m-r-15"
                      src="{% static 'assets/images/user/3.png' %}" alt="">
                    <div class="social-status social-offline"></div>
                    <div class="media-body"><a href="/users_users_profile"><span class="f-w-600 d-block">Johny
                          William</span></a><span class="d-block">johnyw@gmail.com</span></div>
                  </div>
                  <div class="media"><img class="img-50 rounded-circle m-r-15"
                      src="{% static 'assets/images/user/2.png' %}" alt="">
                    <div class="social-status social-online"></div>
                    <div class="media-body"><a href="/users_users_profile"><span class="f-w-600 d-block">Bucky
                          Barnes</span></a><span class="d-block">winter@gmail.com</span></div>
                  </div>
                  <div class="media"><img class="img-50 rounded-circle m-r-15"
                      src="{% static 'assets/images/user/10.jpg' %}" alt="">
                    <div class="social-status social-busy"></div>
                    <div class="media-body"><a href="/users_users_profile"><span class="f-w-600 d-block">Sarah
                          Loren</span></a><span class="d-block">barnes@gmail.com</span></div>
                  </div>
                  <div class="media"><img class="img-50 rounded-circle m-r-15"
                      src="{% static 'assets/images/user/6.jpg' %}" alt="">
                    <div class="social-status social-offline"></div>
                    <div class="media-body"><a href="/users_users_profile"><span class="f-w-600 d-block">Jason
                          Borne</span></a><span class="d-block">jasonb@gmail.com</span></div>
                  </div>
                  <div class="media"><img class="img-50 rounded-circle m-r-15"
                      src="{% static 'assets/images/user/8.jpg' %}" alt="">
                    <div class="social-status social-offline"></div>
                    <div class="media-body"><a href="/users_users_profile"><span class="f-w-600 d-block">Comeren
                          Diaz</span></a><span class="d-block">comere@gmail.com</span></div>
                  </div>
                  <div class="media"><img class="img-50 rounded-circle m-r-15"
                      src="{% static 'assets/images/user/14.png' %}" alt="">
                    <div class="social-status social-online"></div>
                    <div class="media-body"><a href="/users_users_profile"><span class="f-w-600 d-block">Andew
                          Jon</span></a><span class="d-block">andrewj@gmail.com</span></div>
                  </div>
                  <div class="media"><img class="img-50 rounded-circle m-r-15"
                      src="{% static 'assets/images/user/4.jpg' %}" alt="">
                    <div class="social-status social-busy"></div>
                    <div class="media-body"><a href="/users_users_profile"><span class="f-w-600 d-block">Johny
                          Waston</span></a><span class="d-block">johny@gmail.com</span></div>
                  </div>
                  <div class="media"><img class="img-50 rounded-circle m-r-15"
                      src="{% static 'assets/images/user/3.png' %}" alt="">
                    <div class="social-status social-offline"></div>
                    <div class="media-body"><a href="/users_users_profile"><span class="f-w-600 d-block">Johny
                          William</span></a><span class="d-block">johnyw@gmail.com</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-6">
            <div class="card">
              <div class="card-header">
                <h5 class="p-0">
                  <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseicon12"
                    aria-expanded="true" aria-controls="collapseicon12">Activity Feed</button>
                </h5>
              </div>
              <div class="collapse show" id="collapseicon12" aria-labelledby="collapseicon12" data-parent="#accordion">
                <div class="card-body social-status filter-cards-view">
                  <div class="media"><img class="img-50 rounded-circle m-r-15"
                      src="{% static 'assets/images/user/10.jpg' %}" alt="">
                    <div class="media-body"><a href="/users_users_profile"><span class="f-w-600 d-block">Andew
                          Jon</span></a>
                      <p>Commented on Shaun Park's <a href="javascript:void(0)">Photo</a></p><span class="light-span">20
                        min Ago</span>
                    </div>
                  </div>
                  <div class="media"><img class="img-50 rounded-circle m-r-15"
                      src="{% static 'assets/images/user/3.jpg' %}" alt="">
                    <div class="media-body"><a href="/users_users_profile"><span class="f-w-600 d-block">Johny
                          Waston</span></a>
                      <p>Commented on Shaun Park's <a href="javascript:void(0)">Photo</a></p><span class="light-span">1
                        hour Ago</span>
                    </div>
                  </div>
                  <div class="media"><img class="img-50 rounded-circle m-r-15"
                      src="{% static 'assets/images/user/5.jpg' %}" alt="">
                    <div class="media-body"><a href="/users_users_profile"><span class="f-w-600 d-block">Comeren
                          Diaz</span></a>
                      <p>Commented on Shaun Park's <a href="javascript:void(0)">Photo</a></p><span class="light-span">1
                        days Ago</span>
                    </div>
                  </div>
                  <div class="media"><img class="img-50 rounded-circle m-r-15"
                      src="{% static 'assets/images/user/4.jpg' %}" alt="">
                    <div class="media-body"><a href="/users_users_profile"><span class="f-w-600 d-block">Sarah
                          Loren</span></a>
                      <p>Commented on Shaun Park's <a href="javascript:void(0)">Photo</a></p><span class="light-span">2
                        days Ago</span>
                    </div>
                  </div>
                  <div class="media"><img class="img-50 rounded-circle m-r-15"
                      src="{% static 'assets/images/user/3.jpg' %}" alt="">
                    <div class="media-body"><a href="/users_users_profile"><span class="f-w-600 d-block">Johny
                          Waston</span></a>
                      <p>Commented on Shaun Park's <a href="javascript:void(0)">Photo</a></p><span class="light-span">5
                        days Ago</span>
                    </div>
                  </div>
                  <div class="media"><img class="img-50 rounded-circle m-r-15"
                      src="{% static 'assets/images/user/5.jpg' %}" alt="">
                    <div class="media-body"><a href="/users_users_profile"><span class="f-w-600 d-block">Comeren
                          Diaz</span></a>
                      <p>Commented on Shaun Park's <a href="javascript:void(0)">Photo</a></p><span class="light-span">6
                        days Ago</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 xl-60 col-md-7 box-col-7">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="new-users-social">
                <div class="media"><img class="rounded-circle image-radius m-r-15"
                    src="{% static 'assets/images/user/1.jpg' %}" alt="">
                  <div class="media-body">
                    <h6 class="mb-0 f-w-700">ELANA</h6>
                    <p>January, 12,2019</p>
                  </div><span class="pull-right mt-2"><i data-feather="more-vertical"></i></span>
                </div>
              </div><img class="img-fluid" alt="" src="{% static 'assets/images/social-app/timeline-1.png' %}">
              <div class="timeline-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed urna in justo euismod
                  condimentum. Fusce
                  placerat enim et odio molestie sagittis.
                </p>
                <div class="like-content mt-2"><span><i class="fa fa-heart font-danger"></i></span><span
                    class="pull-right comment-number"><span>20 </span><span><i
                        class="fa fa-share-alt me-0"></i></span></span><span class="pull-right comment-number"><span>10
                    </span><span><i class="fa fa-comments-o"></i></span></span></div>
                <div class="social-chat">
                  <div class="your-msg">
                    <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
                        src="{% static 'assets/images/user/1.jpg' %}">
                      <div class="media-body"><span class="f-w-600">Jason Borne <span>1 Year Ago <i
                              class="fa fa-reply font-primary"></i></span></span>
                        <p>we are working for the dance and sing songs. this car is very awesome for the youngster.
                          please vote this car and like our post</p>
                      </div>
                    </div>
                  </div>
                  <div class="other-msg">
                    <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
                        src="{% static 'assets/images/user/2.png' %}">
                      <div class="media-body"><span class="f-w-600">Alexendra Dhadio <span>1 Month Ago <i
                              class="fa fa-reply font-primary"></i></span></span>
                        <p>yes, really very awesome car i see the features of this car in the official website of
                          #Mercedes-Benz and really impressed :-)</p>
                      </div>
                    </div>
                  </div>
                  <div class="other-msg">
                    <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
                        src="{% static 'assets/images/user/3.png' %}">
                      <div class="media-body"><span class="f-w-600">Olivia Jon <span>15 Days Ago <i
                              class="fa fa-reply font-primary"></i></span></span>
                        <p>i like lexus cars, lexus cars are most beautiful with the awesome features, but this car is
                          really outstanding than lexus</p>
                      </div>
                    </div>
                  </div>
                  <div class="your-msg">
                    <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
                        src="{% static 'assets/images/user/1.jpg' %}">
                      <div class="media-body"><span class="f-w-600">Issa Bell <span>1 Year Ago <i
                              class="fa fa-reply font-primary"></i></span></span>
                        <p>we are working for the dance and sing songs. this car is very awesome for the youngster.
                          please vote this car and like our post</p>
                      </div>
                    </div>
                  </div>
                  <div class="text-center"><a class="f-w-600" href="javascript:void(0)">More Commnets</a></div>
                </div>
                <div class="comments-box">
                  <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
                      src="{% static 'assets/images/user/1.jpg' %}">
                    <div class="media-body">
                      <div class="input-group text-box">
                        <input class="form-control input-txt-bx" type="text" name="message-to-send"
                          placeholder="Post Your commnets">
                        <div class="input-group-text"> <img src="{% static 'assets/images/smiley.png' %}" alt=""></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="new-users-social">
                <div class="media"><img class="rounded-circle image-radius m-r-15"
                    src="{% static 'assets/images/user/1.jpg' %}" alt="">
                  <div class="media-body">
                    <h6 class="mb-0 f-w-700">ELANA</h6>
                    <p>January, 12,2019</p>
                  </div><span class="pull-right mt-2"><i data-feather="more-vertical"></i></span>
                </div>
              </div><img class="img-fluid" alt="" src="{% static 'assets/images/social-app/timeline-2.png' %}">
              <div class="timeline-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed urna in justo euismod
                  condimentum. Fusce
                  placerat enim et odio molestie sagittis.
                </p>
                <div class="like-content"><span><i class="fa fa-heart font-danger"></i></span><span
                    class="pull-right comment-number"><span>20 </span><span><i
                        class="fa fa-share-alt me-0"></i></span></span><span class="pull-right comment-number"><span>10
                    </span><span><i class="fa fa-comments-o"></i></span></span></div>
                <div class="social-chat">
                  <div class="your-msg">
                    <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
                        src="{% static 'assets/images/user/1.jpg' %}">
                      <div class="media-body"><span class="f-w-600">Jason Borne <span>1 Year Ago <i
                              class="fa fa-reply font-primary"></i></span></span>
                        <p>we are working for the dance and sing songs. this car is very awesome for the youngster.
                          please vote this car and like our post</p>
                      </div>
                    </div>
                  </div>
                  <div class="your-msg">
                    <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
                        src="{% static 'assets/images/user/1.jpg' %}">
                      <div class="media-body"><span class="f-w-600">Issa Bell <span>1 Year Ago <i
                              class="fa fa-reply font-primary"></i></span></span>
                        <p>we are working for the dance and sing songs. this car is very awesome for the youngster.
                          please vote this car and like our post</p>
                      </div>
                    </div>
                  </div>
                  <div class="text-center"><a class="f-w-600" href="javascript:void(0)">More Commnets</a></div>
                </div>
                <div class="comments-box">
                  <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
                      src="{% static 'assets/images/user/1.jpg' %}">
                    <div class="media-body">
                      <div class="input-group text-box">
                        <input class="form-control input-txt-bx" type="text" name="message-to-send"
                          placeholder="Post Your commnets">
                        <div class="input-group-text"> <img src="{% static 'assets/images/smiley.png' %}" alt=""></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 xl-100 box-col-12">
      <div class="default-according style-1 job-accordion" id="accordionoc1">
        <div class="row">
          <div class="col-xl-12 col-md-6 xl-50 box-col-6">
            <div class="card">
              <div class="card-header">
                <h5 class="p-0">
                  <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseicon2"
                    aria-expanded="true" aria-controls="collapseicon2">Profile Intro</button>
                </h5>
              </div>
              <div class="collapse show" id="collapseicon2" aria-labelledby="collapseicon2" data-parent="#accordion">
                <div class="card-body filter-cards-view">
                  <div class="filter-view-group"><span class="f-w-600">About Me :</span>
                    <p>
                      Hi, I’m elana, I’m 30 and I work as a
                      web Designer for the “Daydreams”
                      Agency in Pier 56.
                    </p>
                  </div>
                  <div class="filter-view-group"><span class="f-w-600">Favourite TV shows :</span>
                    <p>
                      Breaking Good, RedDevil, People of
                      Interest, The Running Dead,
                      Found, American Guy.
                    </p>
                  </div>
                  <div class="filter-view-group"><span class="f-w-600">Favourite Music Bands :</span>
                    <p>
                      Breaking Good, RedDevil, People of
                      Interest, The Running Dead,
                      Found, American Guy.
                    </p>
                  </div>
                  <div class="social-network theme-form"><span class="f-w-600">Social Networks</span>
                    <button class="btn social-btn btn-fb mb-2 text-center"><i
                        class="fa fa-facebook m-r-5"></i>Facebook</button>
                    <button class="btn social-btn btn-twitter mb-2 text-center"><i
                        class="fa fa-twitter m-r-5"></i>Twitter</button>
                    <button class="btn social-btn btn-google text-center"><i
                        class="fa fa-dribbble m-r-5"></i>Dribbble</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-sm-6 xl-50 box-col-6">
            <div class="card">
              <div class="card-header">
                <h5 class="p-0">
                  <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseicon3"
                    aria-expanded="true" aria-controls="collapseicon3">Followers</button>
                </h5>
              </div>
              <div class="collapse show" id="collapseicon3" aria-labelledby="collapseicon3" data-parent="#accordion">
                <div class="card-body social-list filter-cards-view">
                  <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
                      src="{% static 'assets/images/user/2.png' %}">
                    <div class="media-body"><a href="/users_users_profile"><span class="d-block">Bucky
                          Barnes</span></a><a href="javascript:void(0)">Add Friend</a></div>
                  </div>
                  <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
                      src="{% static 'assets/images/user/3.png' %}">
                    <div class="media-body"><a href="/users_users_profile"><span class="d-block">Sarah
                          Loren</span></a><a href="javascript:void(0)">Add Friend</a></div>
                  </div>
                  <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
                      src="{% static 'assets/images/user/3.jpg' %}">
                    <div class="media-body"><a href="/users_users_profile"><span class="d-block">Jason
                          Borne</span></a><a href="javascript:void(0)">Add Friend</a></div>
                  </div>
                  <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
                      src="{% static 'assets/images/user/10.jpg' %}">
                    <div class="media-body"><a href="/users_users_profile"><span class="d-block">Comeren
                          Diaz</span></a><a href="javascript:void(0)">Add Friend</a></div>
                  </div>
                  <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
                      src="{% static 'assets/images/user/11.png' %}">
                    <div class="media-body"><a href="/users_users_profile"><span class="d-block">Andew
                          Jon</span></a><a href="javascript:void(0)">Add Friend</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-sm-6 xl-50 box-col-6">
            <div class="card">
              <div class="card-header">
                <h5 class="p-0">
                  <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseicon10"
                    aria-expanded="true" aria-controls="collapseicon10">Followings</button>
                </h5>
              </div>
              <div class="collapse show" id="collapseicon10" aria-labelledby="collapseicon10" data-parent="#accordion">
                <div class="card-body social-list filter-cards-view">
                  <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
                      src="{% static 'assets/images/user/3.png' %}">
                    <div class="media-body"><a href="/users_users_profile"><span class="d-block">Sarah
                          Loren</span></a><a href="javascript:void(0)">Add Friend</a></div>
                  </div>
                  <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
                      src="{% static 'assets/images/user/2.png' %}">
                    <div class="media-body"><a href="/users_users_profile"><span class="d-block">Bucky
                          Barnes</span></a><a href="javascript:void(0)">Add Friend</a></div>
                  </div>
                  <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
                      src="{% static 'assets/images/user/10.jpg' %}">
                    <div class="media-body"><a href="/users_users_profile"><span class="d-block">Comeren
                          Diaz</span></a><a href="javascript:void(0)">Add Friend</a></div>
                  </div>
                  <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
                      src="{% static 'assets/images/user/3.jpg' %}">
                    <div class="media-body"><a href="/users_users_profile"><span class="d-block">Jason
                          Borne</span></a><a href="javascript:void(0)">Add Friend</a></div>
                  </div>
                  <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
                      src="{% static 'assets/images/user/11.png' %}">
                    <div class="media-body"><a href="/users_users_profile"><span class="d-block">Andew
                          Jon</span></a><a href="javascript:void(0)">Add Friend</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-sm-6 xl-50 box-col-6">
            <div class="card">
              <div class="card-header">
                <h5 class="p-0">
                  <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseicon4"
                    aria-expanded="true" aria-controls="collapseicon4">Latest Photos</button>
                </h5>
              </div>
              <div class="collapse show" id="collapseicon4" data-parent="#accordion" aria-labelledby="collapseicon4">
                <div class="card-body filter-cards-view">
                  <div class="photos">
                    <ul>
                      <li>
                        <div class="latest-post"><img class="img-fluid" alt=""
                            src="{% static 'assets/images/social-app/post-1.png' %}"></div>
                      </li>
                      <li>
                        <div class="latest-post"><img class="img-fluid" alt=""
                            src="{% static 'assets/images/social-app/post-2.png' %}"></div>
                      </li>
                      <li>
                        <div class="latest-post"><img class="img-fluid" alt=""
                            src="{% static 'assets/images/social-app/post-3.png' %}"></div>
                      </li>
                      <li>
                        <div class="latest-post"><img class="img-fluid" alt=""
                            src="{% static 'assets/images/social-app/post-4.png' %}"></div>
                      </li>
                      <li>
                        <div class="latest-post"><img class="img-fluid" alt=""
                            src="{% static 'assets/images/social-app/post-5.png' %}"></div>
                      </li>
                      <li>
                        <div class="latest-post"><img class="img-fluid" alt=""
                            src="{% static 'assets/images/social-app/post-6.png' %}"></div>
                      </li>
                      <li>
                        <div class="latest-post"><img class="img-fluid" alt=""
                            src="{% static 'assets/images/social-app/post-7.png' %}"></div>
                      </li>
                      <li>
                        <div class="latest-post"><img class="img-fluid" alt=""
                            src="{% static 'assets/images/social-app/post-8.png' %}"></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-sm-6 xl-50 box-col-6">
            <div class="card">
              <div class="card-header">
                <h5 class="p-0">
                  <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseicon13"
                    aria-expanded="true" aria-controls="collapseicon13">Friends</button>
                </h5>
              </div>
              <div class="collapse show" id="collapseicon13" data-parent="#accordion" aria-labelledby="collapseicon13">
                <div class="card-body avatar-showcase filter-cards-view">
                  <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
                      src="{% static 'assets/images/user/3.jpg' %}" alt="#"></div>
                  <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
                      src="{% static 'assets/images/user/5.jpg' %}" alt="#"></div>
                  <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
                      src="{% static 'assets/images/user/1.jpg' %}" alt="#"></div>
                  <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
                      src="{% static 'assets/images/user/2.png' %}" alt="#"></div>
                  <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
                      src="{% static 'assets/images/user/3.png' %}" alt="#"></div>
                  <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
                      src="{% static 'assets/images/user/6.jpg' %}" alt="#"></div>
                  <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
                      src="{% static 'assets/images/user/10.jpg' %}" alt="#"></div>
                  <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
                      src="{% static 'assets/images/user/14.png' %}" alt="#"></div>
                  <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
                      src="{% static 'assets/images/user/1.jpg' %}" alt="#"></div>
                  <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
                      src="{% static 'assets/images/user/4.jpg' %}" alt="#"></div>
                  <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
                      src="{% static 'assets/images/user/11.png' %}" alt="#"></div>
                  <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
                      src="{% static 'assets/images/user/8.jpg' %}" alt="#"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-md-6 xl-50 box-col-6">
            <div class="card"><img class="img-fluid" src="{% static 'assets/images/social-app/timeline-4.png' %}"
                alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>