{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/owlcarousel.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/rating.scss' %}">
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}
  <!-- Container-fluid starts-->
  {% include 'inventory/product/components/product_header.html' %}
  {% include 'inventory/product/components/product_table.html' %}
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/rating/jquery.barrating.js' %}"></script>
<script src="{% static 'assets/js/rating/rating-script.js' %}"></script>
<script src="{% static 'assets/js/owlcarousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/ecommerce.js' %}"></script>
<script src="{% static 'assets/js/product-list-custom.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}