<li class="h1 txt-primary" style="font-size: larger;">Account Management</li>
<li class="dropdown"><a class="nav-link menu-title link-nav" href="{% url 'accounts:profile' %}"><i
  data-feather="box"></i><span>Profile</span></a></li>
<li class="dropdown"><a class="nav-link menu-title link-nav" href="#"><i
  data-feather="box"></i><span>Billing and Payments</span></a></li>
<li class="dropdown"><a class="nav-link menu-title link-nav" href="#"><i
    data-feather="box"></i><span>Reporting</span></a></li>
