{% load static %}
{% load sass_tags %}
<!-- page sidebar starts -->
<header class="main-nav">
  <div class="logo-wrapper"><a href="/"><img class="img-fluid" src="{% static 'assets/images/logo/logo.png' %}"
        alt=""></a>
  </div>
  <div class="logo-icon-wrapper"><a href="/"><img class="img-fluid"
        src="{% static 'assets/images/logo/logo-icon.png' %}" alt=""></a></div>
  <div class="morden-logo"><a href="/"><img class="img-fluid" src="{% static 'assets/images/logo/morden-logo.png' %}"
        alt=""></a></div>
  <nav>
    <div class="main-navbar">
      <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
      <!-- Custom sidebar here -->
      <div id="mainnav">
        <ul class="nav-menu custom-scrollbar">
          <li class="back-btn">
            <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i>
            </div>
          </li>
          <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
            data-feather="home"></i><span>Apps</span></a>
            <ul class="nav-submenu menu-content">
              <li><a href="#">Blog</a></li>
              <li><a href="#">Inventory</a></li>
              <li><a href="{% url 'timeline' %}">Social</a></li>
            </ul>
          </li>
        </ul>
    </div>

      <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
    </div>
  </nav>
</header>
<!-- page Sidebar Ends-->