{% load static %}
{% load sass_tags %}
<div class="container-fluid">
  <div class="page-header dash-breadcrumb">
    <div class="row">
      <div class="col-6">
        <h3 class="f-w-600">{{breadcrumb.child}}</h3>
      </div>
      <div class="col-6">
        <div class="breadcrumb-sec">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i data-feather="home"></i></a></li>
            <li class="breadcrumb-item">{{breadcrumb.parent}}</li>
            <li class="breadcrumb-item active">{{breadcrumb.child}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>