{% load static %}
{% load sass_tags %}

<!-- page Header Start -->
<div class="page-main-header">
  <div class="main-header-right row m-0">
    <div class="main-header-left">
      <div class="logo-wrapper"><a href="/dashboard_default"><img class="img-fluid"
            src="{% static 'assets/images/logo/logo.png' %}" alt="img"></a></div>
    </div>
    <div class="toggle-sidebar"><i class="status_toggle middle" data-feather="align-center" id="sidebar-toggle"></i>
    </div>
    <div class="nav-right col pull-right right-menu">
      <ul class="nav-menus">
        <li class="onhover-dropdown">
          <div class="notification-box"><i data-feather="grid"></i><span class="badge badge-pill badge-primary">4</span>
          </div>
          <div class="notification-dropdown onhover-show-div">
            <div class="m-3"><a class="btn btn-dark w-100">You have 4
                apps installed</a></div>
            <ul class="border-top">
              <li>
                <a href="{% url 'inventory:products' %}" class="mb-0 ps-4 p-relative"><i class="fa fa-circle me-3 font-primary"> </i>Inventory<span
                    class="pull-right">0 alerts</span></a>
              </li>
              <li>
                <a class="mb-0 ps-4 p-relative"><i class="fa fa-circle me-3 font-success"></i>Point Of Sale<span
                    class="pull-right">0 alerts</span></a>
              </li>
              <li>
                <a class="mb-0 ps-4 p-relative"><i class="fa fa-circle me-3 font-info"></i>Social<span
                    class="pull-right">0 alerts</span></a>
              </li>
              <li>
                <a class="mb-0 ps-4 p-relative"><i class="fa fa-circle me-3 font-warning"></i>Blog<span
                    class="pull-right">0 alerts</span></a>
              </li>
            </ul>
            <div class="m-3 mt-1"><a class="btn btn-light w-100" href="/email_email_app">View all</a></div>
          </div>
        </li>
        <li class="onhover-dropdown"><i data-feather="message-square"></i>
          <div class="chat-dropdown onhover-show-div">
            <div class="m-3"><a class="btn btn-dark w-100" href="/chat_chat_app">You have 3 message</a></div>
            <ul class="border-top custom-scrollbar">
              <li>
                <div class="media"><img class="img-fluid rounded-circle me-3"
                    src="{% static 'assets/images/avtar/emoji/7.png' %}" alt="">
                  <div class="status-circle online"></div>
                  <div class="media-body"><span>Erica Hughes</span>
                    <p class="f-12 light-font">okay, trying now.</p>
                  </div>
                  <p class="badge badge-primary">32 min</p>
                </div>
              </li>
              <li>
                <div class="media"><img class="img-fluid rounded-circle me-3"
                    src="{% static 'assets/images/avtar/emoji/8.png' %}" alt="">
                  <div class="status-circle away"></div>
                  <div class="media-body"><span>Kori Thomas</span>
                    <p class="f-12 light-font">i could help in some of bug?</p>
                  </div>
                  <p class="badge badge-success">58 min</p>
                </div>
              </li>
              <li>
                <div class="media"><img class="img-fluid rounded-circle me-3"
                    src="{% static 'assets/images/avtar/emoji/4.png' %}" alt="">
                  <div class="status-circle offline"></div>
                  <div class="media-body"><span>Ain Chavez</span>
                    <p class="f-12 light-font">It's working awesome :)</p>
                  </div>
                  <p class="badge badge-danger">1 hr</p>
                </div>
              </li>
              <li>
                <div class="media"><img class="img-fluid rounded-circle me-3"
                    src="{% static 'assets/images/avtar/emoji/1.png' %}" alt="">
                  <div class="status-circle offline"></div>
                  <div class="media-body"><span>Johan deo</span>
                    <p class="f-12 light-font">Great Thanks you !!</p>
                  </div>
                  <p class="badge badge-danger">2 hr</p>
                </div>
              </li>
            </ul>
            <div class="m-3"><a class="btn btn-light w-100" href="/chat_chat_app">View all</a></div>
          </div>
        </li>
        <li>
          <div class="mode"><i class="fa fa-moon-o"></i></div>
        </li>
        <li><a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()"><i data-feather="maximize"></i></a>
        </li>
        <li class="onhover-dropdown">
          <div class="media profile-media"><img class="rounded-circle"
              src="{% static 'assets/images/avtar/emoji/9.png' %}" alt="">
          </div>
          <ul class="profile-dropdown onhover-show-div">
            <li><a href="{% url 'accounts:profile' %}"><i data-feather="user"></i><span>Account </span></a></li>
            <li><a href="/basic_email"><i data-feather="mail"></i><span>Inbox</span></a>
            </li>
            <li><a href="/kanban_board"><i data-feather="file-text"></i><span>Taskboard</span></a></li>
            <li><a href="/users_users_edit"><i data-feather="settings"></i><span>Settings</span></a></li>
            <li><a class="btn btn-light w-100" href="{% url 'logout' %}">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="d-lg-none col mobile-toggle pull-right"><i data-feather="more-horizontal"></i></div>
  </div>
</div>
<!-- page Header End-->